<div class="popup remove-user-confirm-popup">
  <div class="popup-abstract">
    <button (click)="onClose()" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="popup-header">
    <h3>Delete User</h3>
  </div>
  <div class="popup-body">
    <form>
      <div class="form-row">
        <div class="input-icon">
          <span class="material-icons">face</span>
        </div>

        <label class="user-name">{{ selectedUser?.firstName }} {{ selectedUser?.lastName }}</label>

        <label [className]="selectedUser?.isActive ? 'user-status active' : 'user-status inactive'">{{ selectedUser?.isActive ? 'Active User' : 'Inactive User' }}</label>
      </div>
    </form>
  </div>
  <div class="popup-actions">
    <div class="action-row">
      <button (click)="onDelete()" class="submit-btn secondary">Delete User</button>
    </div>
  </div>
</div>
