<div class="grid">
  <div class="grid-table">
    <div class="table-header">
      <div [ngClass]="{'selected' : sort.propertyName === 'firstName', 'inverted' : sort.propertyName === 'firstName' && sort.direction === 'ASC'}" class="table-col">
        <label class="clickable" (click)="onSort('firstName')">USER <span class="material-icons">arrow_drop_down</span></label>
      </div>
      <div [ngClass]="{'selected' : sort.propertyName === 'role', 'inverted' : sort.propertyName === 'role' && sort.direction === 'ASC'}"  class="table-col">
        <label class="clickable" (click)="onSort('role')">ROLE <span class="material-icons">arrow_drop_down</span></label>
      </div>
      <div  class="table-col">
        <label>STATUS</label>
      </div>
      <div class="table-col">
        <label>ACTIONS</label>
      </div>
    </div>
    <div class="table-body">
      <div *ngFor="let user of displayedUsers" class="table-row" [ngClass]="{'disabled' : !user.isActive}">
        <div class="table-col">
          <div class="user-information">
            <div class="user-avatar">
              <img [src]="icons + 'avatar.png'" alt="">
            </div>
            <label class="user-name">{{ user.firstName }} {{ user.lastName }}</label>
            <label class="user-email">{{ user.email }}</label>
          </div>
        </div>
        <div class="table-col">
          <div class="user-role">
            <div *ngIf="user.role === 'Admin'" class="badge">
              <span class="material-icons">vpn_key</span>
            </div>
            <label>{{ user.role }}</label>
          </div>
        </div>
        <div class="table-col">
          <div class="user-status">
            <mat-slide-toggle [ngModel]="user.isActive" (toggleChange)="onStatusChange(user.id)" color="primary"></mat-slide-toggle>
          </div>
        </div>
        <div class="table-col">
          <div class="user-actions">
            <button [disabled]="!user.isActive" [ngClass]="{'v-none' : !user.isActive}" (click)="onSettingsClick(user.id)" mat-icon-button>
              <mat-icon>settings</mat-icon>
            </button>
            <button [disabled]="!user.isActive" (click)="onRemoveClick(user.id)" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-paginator">
    <div class="page-size-selector">
      <mat-form-field appearance="legacy">
        <mat-select [(value)]="paginator.pageSize" (valueChange)="onPageSizeChange()">
          <mat-option *ngFor="let size of [5, 10]" [value]="size">
            {{ size }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <label>Records on page</label>
    </div>
    <div class="page-index-selector">
      <button [disabled]="paginator.isFirst()" (click)="onPrevious()" mat-button>Previous</button>

      <div class="pages">
        <button
          (click)="onPageChange(pageButton)"
          *ngFor="let pageButton of paginator.pages"
          [ngClass]="{'selected' : paginator.pageIndex === pageButton}" mat-button><b>{{ pageButton }}</b></button>
      </div>

      <button [disabled]="paginator.isLast()" (click)="onNext()" mat-button>Next</button>
    </div>
  </div>
</div>
