<div class="application">
  <div class="header-container">
    <frt-header></frt-header>
  </div>

  <div class="content-container">
    <router-outlet></router-outlet>
  </div>

  <div *ngIf="currentPopup !== 'NONE'" class="modals-container">
    <frt-modal *ngIf="currentPopup === 'INVITE_USER_POPUP'">
      <frt-invite-user-popup></frt-invite-user-popup>
    </frt-modal>

    <frt-modal *ngIf="currentPopup === 'REMOVE_USER_CONFIRM_POPUP'">
      <frt-remove-user-confirm-popup></frt-remove-user-confirm-popup>
    </frt-modal>
  </div>
</div>
