<div class="settings-component">
  <div *ngIf="!isLoading" class="container">
    <div class="row">
      <div class="col-xl-4">
        <div class="setting-block">
          <div class="user-general-information" [ngClass]="{'disabled' : !newSelectedUser.isActive}">
            <div class="user-avatar">
              <img [src]="icons + 'avatar.png'" alt="">

              <div class="badge">
                <span class="material-icons">vpn_key</span>
              </div>
            </div>
            <div class="user-name">
              <label>{{ selectedUser.firstName }}<br>{{ selectedUser.lastName }}</label>
            </div>
            <div class="user-email">
              <label>{{ selectedUser.email }}</label>
            </div>

            <button *ngIf="newSelectedUser.isActive" class="main-action-btn invite-resent-btn">Resent the invite</button>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="setting-block">
          <div class="block-title">
            <h3>Details</h3>
          </div>

          <form class="user-details-form">
            <div class="user-status">
              <mat-slide-toggle [(ngModel)]="newSelectedUser.isActive" name="isActive" color="primary"></mat-slide-toggle>
              <label>The user is <b>{{ newSelectedUser.isActive ? 'Active' : 'Inactive' }}</b></label>
            </div>

            <div class="form-row">
              <mat-form-field appearance="legacy">
                <mat-label>* First Name</mat-label>
                <input [disabled]="!newSelectedUser.isActive" [(ngModel)]="newSelectedUser.firstName" name="firstName" matInput>
              </mat-form-field>
            </div>

            <div class="form-row">
              <mat-form-field appearance="legacy">
                <mat-label>* Last Name</mat-label>
                <input matInput [disabled]="!newSelectedUser.isActive" [(ngModel)]="newSelectedUser.lastName" name="lastName">
              </mat-form-field>
            </div>

            <div class="form-row">
              <mat-form-field appearance="legacy">
                <mat-label>* Role</mat-label>
                <mat-select [disabled]="!newSelectedUser.isActive" [(value)]="newSelectedUser.role">
                  <mat-option *ngFor="let role of availableRoles" [value]="role">
                    {{ role }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <button *ngIf="newSelectedUser.isActive" [disabled]="!canUpdate" (click)="onUpdate()" class="main-action-btn update-btn">Save Changes</button>
          </form>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="setting-block permission-block">
          <div class="block-title">
            <h3>Permissions</h3>
            <label class="info">{{ newSelectedUser.role }}</label>
          </div>

          <div class="user-permissions-form" [ngClass]="{'disabled' : !newSelectedUser.isActive}">
            <div class="permission-form-row super-user-row">
              <label><b>Super Admin</b></label>
              <mat-slide-toggle [disabled]="!newSelectedUser.isActive" [(ngModel)]="newSelectedUser.isSuperAdmin" color="warn"></mat-slide-toggle>
            </div>

            <div *ngFor="let permissionGroup of newSelectedUser.permissionGroup" class="permission-form-row">
              <div #group class="permission-group">
                <div class="permission-group-heading">
                  <div class="dropdown-icon">
                    <span class="material-icons">keyboard_arrow_right</span>
                  </div>
                  <label frtExpander [list]="group" class="permission-name">{{ permissionGroup.groupName }}</label>
                  <mat-slide-toggle [disabled]="!newSelectedUser.isActive" [(ngModel)]="permissionGroup.groupState" color="warn"></mat-slide-toggle>
                </div>
                <ul class="permission-group-list">
                  <li *ngFor="let permission of permissionGroup.permissions" class="permission-group-list-item">
                    <label>{{ permission.permissionName }}</label>
                    <mat-slide-toggle [disabled]="!newSelectedUser.isActive" [(ngModel)]="permission.permissionState" color="warn"></mat-slide-toggle>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
