.application {
  width: 100%;
  height: 100%;

  .header-container {
    width: 100%;
    height: 211px;
  }

  .content-container {
    padding-bottom: 63px;

    width: 100%;
    height: calc(100% - 211px);
  }

  .modals-container {
    position: absolute;

    left: 0;
    top: 0;
  }
}
